scope: pg-cluster

namespace: /service/

name: {{ node_name }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ internal_ip }}:8008

etcd3:
  hosts: 10.10.0.28:2379,10.10.0.11:2379,10.10.0.12:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576

    postgresql:
      use_pg_rewind: true
      use_slots: true

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication replicator 10.10.0.0/24 md5
    - host all all 10.10.0.0/24 md5

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ internal_ip }}:5432

  data_dir: /var/lib/postgresql/data

  bin_dir: /usr/lib/postgresql/16/bin

  authentication:
    replication:
      username: replicator
      password: replication123

    superuser:
      username: postgres
      password: postgres123

  parameters:
    wal_level: replica
    hot_standby: "on"
    max_wal_senders: 10
    max_replication_slots: 10
